<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeatherApiUrl" value="https://api.openweathermap.org"/>
    <add key="WeatherApiKey" value=""/>
    <add key="WeatherApiZip" value=""/>

    <add key="SprinklerApiUrl" value="https://sprinklerapi.azurewebsites.net"/>
    <add key="SprinklerApiCredentials" value=""/>
    
    <add key="RunFrequencySeconds" value="30"/>
    <add key="AppInsightsCorrelationId" value=""/>
    <add key="BlobConnectionString" value="" />
    <add key="BlobContainerName" value="" />
    
    <add key="LogLevel" value="2" />

  </appSettings>
</configuration>